<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <h1>Welcome to Counter!</h1>
        <p>Track how many times you have visited.</p>
    
        <p>You have visited: <%= count %></p>

        <button id="add1"><a href="/add1">Add 1 to session</a></button>
        <button id="add"><a href="/add2">Add 2 to session</a></button>
        <button id="clear"><a href="/delete">Reset Sessions</a></button>
    </div>
</body>
</html>